	* {
		margin:0;
		padding:0;
	}

	body {
		font:1em verdana, arial, sans-serif; 
		color:#003366;
	}

	div.formcontainer {
		width:390px;
		margin-left:40px;
		margin-top:20px;
	}

	div.formcontainer form {
		border-top:2px solid #ccc;
		border-bottom:3px solid #ccc;
	}

	div.formcontainer div.buttongroup {
		float:left;
		border:0px;
		padding:0px;
	}

	div.formcontainer div.buttongroup div {
		margin-bottom:5px;
		font-size:.75em;
	}

	div.formcontainer div.buttongroup input {
		margin-right:5px;
	}

	div.formcontainer div.clearfix {
		border-top:1px solid #ccc;
		padding:10px 0px;
		position:relative;
	}

	div.formcontainer div.clearfix div.buttongroup {
		border-top:0px solid #ccc;
		padding:0px 0px;
		position:relative;
	}

	div.formcontainer div.clearfix div.buttongroup label {
		display:block;
	}

	div.formcontainer div.clearfix div.buttongroup div.clearfix {
		border-top:0px solid #ccc;
		padding:0px 0px;
	}

	div.formcontainer form label {
		width:120px; 
		float:left;
		font-size:.75em;
		margin:0 10px;
	}

	div.formcontainer form textarea {
		text-align:left;
	}

	input[type="radio"], input[type="checkbox"] {
		float:left;
	}

	input[type="submit"], input[type="button"] {
		float:right;
	}

	select {
		border:1px solid #ccc;
	}

	.clearfix:after {
		content:".";
		display:block;
		height:0;
		clear:both;
		visibility:hidden;
	}